# Ignora l'ambiente virtuale
venv/
env/
.venv/
reinforcement_learning
Lunar_params_try.pth
# Ignora file temporanei generati da Pygame
Lunar_try.png
#README.md
*.jpg
*mp4
*.wav
*.mp3
*.ogg
*.log
*.dat

# Ignora cartelle di output, log o dati temporanei
output/
logs/
temp/

# Ignora file creati da Python, come bytecode compilato
__pycache__/
*.pyc

# Ignora file di salvataggio modelli o checkpoints
*.h5
*.pkl

# Ignora file di sistema (es. macOS e Windows)
.DS_Store
Thumbs.db

#bin
#include
#lib
Autonomous_Projects
Ex3/taxi_params.pth
Ex3/Taxi_PPO.py
Ex3/Results/taxi_training_plot.png